.settings-popup {
    display: none;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #000000;
    position: absolute;
    z-index: 1;
}

.settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 28px;
}

.settings-header h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #161932;
    margin: 0;
}

hr {
    stroke: #979797;
}

.time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px 0;
}

.time-section hr {
    width: 100%;
}

.time-section h3, .font-section h3, .color-section h3 {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 4.23077px;
    color: #161932;
    text-transform: uppercase;
}

p {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1E213F;
    opacity: 0.4;
}

.time-modifier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    align-items: center;
}

.time-modifier p {
    margin-right: 70px;
}

.time-settings {
    background-color: #EFF1FA;
    border-radius: 10px;
    width: 140px;
}

.time-settings span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #1E213F;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.36px;
    padding: 11px 16px;
}

.arrow-wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.font-section {
    padding: 0 24px 0;
}

.font-modifier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.font-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFF1FA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#font-1 {
    font-family: 'Kumbh Sans';
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    color: white;
}

#font-2 {
    font-family: 'Roboto Slab';
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

#font-3 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}

.color-section {
    padding: 0 24px 24px;
}

.color-modifier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.color-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#color-1 {
    background-color: #F87070;
}

#color-2 {
    background-color: #70F3F8;
}

#color-3 {
    background-color: #D881F8;
}

button {
    border: none;
    padding: 0;
    margin: 0;
}

.apply-btn {
    background-color: #F87070;
    color: #FFFFFF;
    border-radius: 26.5px;
    padding: 17px 47px 20px;
}